$maincolor:#253AE4;
$secondcolor: #191919;
$hovercolor: #1C2499;
$backgroundcolor: #f4f5f5;
$mainfont: 'Open Sans', sans-serif;
$headerfont: 'Merriweather', serif;

@import "components/setup";
@import "components/posts";
@import "components/header";
@import "components/coinsquare-plug";
@import "components/footer";
@import "components/responsive";

body{
    margin: 0;
    padding: 0;
    background:$backgroundcolor;
    font-family: $mainfont;
    font-size: 96.5%;
    color: $secondcolor;
}

.wrapper{
    margin: 0 auto;
    max-width: 1180px;
    width: 90%;
}

a {
    text-decoration: none;
    color: $maincolor;
}

img{
    width: 100%;
    transition: opacity 0.25s ease;
    &:hover{
        opacity: 0.7;
    }
}










