.coinsquare-plug{
    font-size: 1.2rem;
    font-weight: 600;
    color: $hovercolor;
    padding: 20px 40px;
    p{
        margin: 10px 0;
    }
}

.website-link{
    color: $hovercolor;
    border-bottom: 2px solid $hovercolor;
    &:hover{
        color: $maincolor;
        border-color: $maincolor;
    }
}