.articles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .post{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 48%;
        padding: 60px 40px;
        background: #fff;
        margin: 20px 0; 
    }
}


.post-metadata{
    span{
        margin-top: 0;
    }
}

.post-metadata span:first-child{
    padding-right: 2px;
}

.post-metadata span:last-child{
    padding-left: 2px;
}


.article-text{
    line-height: 20px;
}

.read-btn{
    background: $maincolor;
    color: $backgroundcolor;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 0;
    transition: all 0.25s ease-in-out;
    &:hover{
        background: $hovercolor;
        border-color: $hovercolor;
    }
}


